body{
    background-color: rgb(193, 245, 251);
    color: rgb(38, 24, 52);
}

.Barbie2{
    width: 150px;
    height: 100px;
    background-color: transparent;
    position: center;
}
.Ben-10{
    width: 150px;
    height: 100px;
    background-color: transparent;
}
.item{
    color: brown;
}
.cabecalho{
    color: rgb(35, 15, 66);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

