.Barbie2{
    width: 150px;
    height: 100px;
    background-color: transparent;
}
.Ben-10{
    width: 150px;
    height: 100px;
    background-color: transparent;
}
body{
    background-color: beige;
    color: blueviolet;
    text-align: center;
}
.Avatar{
    border-radius: 30%;

}
